:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-image: url('./images/Date-Genie.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.adventure {
  display: flex;
  justify-items: center;
  margin-left: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #000000;
  margin: 0;
}

.START {
  margin-left: 1rem;
  margin-right: 2rem;
}

.VISITED {
  margin-right: 2rem;
}

nav {
  color: whitesmoke;
  font-family: Arial, bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
